<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control mt-3" v-model="busquedaString" placeholder="Ingresar un nombre o mail...">    
    <input type="text" class="form-control mt-3" v-model="busquedaDni" placeholder="Ingresar un DNI...">

    <p v-if="!this.stringValido() || !this.dniValido()"  class="alert alert-warning mt-3" >La cantidad minima de caracteres es de 3</p>
    <p v-if="personasFiltradas.length == 0"  class="alert alert-warning mt-3" >La persona no se encuentra en la lista</p>
   
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            busquedaString: '',
            busquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas:
                [
                    { nombre: 'Daniel', apellido: 'Sánchez', dni: 20442873, correo: 'danielsanchez68@hotmail.com' },
                    //Agregar aquí nombre, apellido, dni y correo
                    { nombre: 'Alan',apellido:'Faerverguer',dni:40829735,correo:'faeralan@gmail.com' },
                    { nombre: 'Ivan',apellido:'Fajgenblum',dni:42023692,correo:'ifagen@hotmail.com' },
                    { nombre: 'Andres',apellido:'Fajgenblum',dni:12345678,correo:'afagen@hotmail.com'  },
                    { nombre: 'Julián', apellido: 'Brea', dni: 40937404, correo: 'julian.brea@hotmail.com' },
                    { nombre: 'Mauro', apellido: 'Abraham', dni: 37143235, correo: 'maauro.db@gmail.com' },
                    { nombre: 'Pablo Hernan', apellido: 'Aquino', dni: 32123456, correo: 'pablohaquino@gmail.com' },
                    { nombre: 'Marcelo', apellido: 'Rocchi', dni: 32677125, correo: 'marcelorocchi@hotmail.com' },
                    { nombre: 'Florencia', apellido: 'Garduño', dni: 35805837, correo: 'garduno.florencia@gmail.com' }
                ]
        },
        computed: {
            personasFiltradas() {
                let listaDePersonas = this.personas
                this.mostrar = false

                    if(this.stringValido && this.dniValido){

                        listaDePersonas = listaDePersonas.filter((persona) => {
                            let registroString = `${persona.nombre}${persona.apellido}${persona.correo}`
                            let registroDni = `${persona.dni}`

                            return registroString.toLowerCase().includes(this.busquedaString.toLowerCase()) &&
                                    registroDni.includes(this.busquedaDni)
                        });
                    }
                return listaDePersonas
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            stringValido(){
                return  this.busquedaString.length == 0 || this.busquedaString.length >= 3 
            }, 
            dniValido(){
                return  this.busquedaDni.length == 0 || this.busquedaDni.length >= 3 
            }
        }
    });
</script>