<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control mt-3" v-model="criterioDeBusqueda1" placeholder="Ingresar un nombre o mail...">
    <input type="text" class="form-control mt-3" v-model="criterioDeBusqueda2" placeholder="Ingresar un DNI...">
    <p v-if="mostrar"  class="container-fluid mt-3" >Cantidad minima es de 3 caracteres</p>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda1: '',
            criterioDeBusqueda2: '',
            mostrar: false,
            //Aquí, en este array es donde tienen que agregar su información
            personas:
                [
                    { nombre: 'Daniel', apellido: 'Sánchez', dni: 20442873, correo: 'danielsanchez68@hotmail.com' },
                    //Agregar aquí nombre, apellido, dni y correo
                    { nombre: 'Alan',apellido:'Faerverguer',dni:40829735,correo:'faeralan@gmail.com' },
                    { nombre: 'Ivan',apellido:'Fajgenblum',dni:42023692,correo:'ifagen@hotmail.com' },
                    { nombre: 'Ivan',apellido:'Fajgenblum',dni:12345678,correo:'ifagen@hotmail.com' },
                    { nombre: 'Julián', apellido: 'Brea', dni: 40937404, correo: 'julian.brea@hotmail.com' },
                    { nombre: 'Mauro', apellido: 'Abraham', dni: 37143235, correo: 'maauro.db@gmail.com' },
                    { nombre: 'Pablo Hernan', apellido: 'Aquino', dni: 32123456, correo: 'pablohaquino@gmail.com' },
                    { nombre: 'Marcelo', apellido: 'Rocchi', dni: 32677125, correo: 'marcelorocchi@hotmail.com' },
                    { nombre: 'Florencia', apellido: 'Garduño', dni: 35805837, correo: 'garduno.florencia@gmail.com' }
                ]
        },
        computed: {
            personasFiltradas() {
                let listaDePersonas = this.personas
                this.mostrar = false
                if(this.criterioDeBusqueda1 != ''){
                    if(!this.validarAncho(this.criterioDeBusqueda1)){
                        listaDePersonas =listaDePersonas.filter((persona) => {
                            let registroCompleto = `${persona.nombre}${persona.apellido}${persona.correo}`
                            return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda1.toLowerCase())
                        });
                    }
                } else if(this.criterioDeBusqueda2 != ''){
                    if(!this.validarAncho(this.criterioDeBusqueda2)){
                        listaDePersonas = listaDePersonas.filter((persona) => {
                            let registroCompleto = `${persona.dni}`
                            return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda2)
                        });
                    } 
                }
                
                return listaDePersonas
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            validarAncho(busqueda){
            let anchoMin = 4
                if( busqueda.length < anchoMin){
                    this.mostrar = true 
                } else {
                    this.mostrar = false
                }
                return this.mostrar 
            }
        }
    });
</script>